<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/painel-funcionario">Manutenção de Equipamentos</a>
    <button class="navbar-toggler" type="button" (click)="menuAberto = !menuAberto"
      [attr.aria-expanded]="menuAberto" aria-controls="menu-funcionario" aria-label="Alternar navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="menuAberto" id="menu-funcionario">
      <ul class="navbar-nav me-auto" (click)="menuAberto = false">
        <li class="nav-item"><a class="nav-link" routerLink="/painel-funcionario">Início</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/visualizacao-solicitacoes">Solicitações</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/categoria">Categorias</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/manter-funcionarios">Funcionários</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/relatorios">Relatórios</a></li>
      </ul>
      <button class="btn btn-outline-dark" type="button" (click)="sair()">Sair</button>
    </div>
  </nav>
</header>
