
<div class="home-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <i class="bi bi-gear-wide-connected"></i>
        <span class="navbar-brand mb-0 h1">Manutenção de Equipamentos</span>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="bi bi-house-door-fill"></i> Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="card p-3 mb-3">
            <div class="card-body">
                <p>BEM-VINDO AO SISTEMA DE</p>
                <h5 class="card-title">MANUTENÇÃO DE EQUIPAMENTOS</h5>
                <p class="card-text">Aqui você encontra soluções rápidas e eficientes para manter seus equipamentos sempre em funcionamento.</p>
            </div>
        </div>

        <div class="card p-3 mb-3">
            <div class="card-body">
                <i class="bi bi-person-workspace"></i>
                <h5 class="card-title">LOGIN FUNCIONÁRIO</h5>
                <p class="card-text">Acesse o sistema para gerenciar solicitações e serviços.</p>
                <a routerLink="/login-funcionario" class="btn btn-acessar">ACESSAR →</a>
            </div>
        </div>

        <div class="card p-3 mb-3">
            <div class="card-body">
                <i class="bi bi-person-fill"></i>
                <h5 class="card-title">LOGIN CLIENTE</h5>
                <p class="card-text">Acompanhe suas solicitações e o status do seu serviço.</p>
                <a routerLink="/login" class="btn btn-acessar">ACESSAR →</a>
            </div>
        </div>
    </div>
</div>
